services:
  postgres-db:
    image: postgres:16
    container_name: postgres_container
    restart: unless-stopped
    ports:
      - "5432:5432" 
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data 

volumes:
  postgres_data:
    driver: local
